---
overline:
  text: "Overline"
headline:
  text: "Headline"
subline:
  text: "Subline"
picture: {}
---
<section class="partial" data-partial="components/m3_stage">
  {{{mixin "agency-pkg-elements/picture" picture}}}
  <div class="headlines">
    {{{mixin "agency-pkg-elements/headline/h3" overline}}}
    {{{mixin "agency-pkg-elements/headline/h1" headline}}}
    {{{mixin "agency-pkg-elements/headline/h2" subline}}}
  </div>
</section>
