@import "../../generated/pcss/purecss/custom-media-variables.pcss";

/* package for docs css */
@import "agency-pkg-docs";

@import "agency-pkg-base";
@import "agency-pkg-elements";
@import "agency-pkg-services";
@import "agency-pkg-layouts";

@import "./partials.pcss";

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
